execo>=2.3
cython>=0.13
numpy<1.7
numexpr>=2.0.0
d2to1>=0.2.10,<0.3
eventlet
flask
h5py
iso8601
kombu
oslo.config
pbr
pyserial
pysnmp
pyzmq
rrdtool
webob
httplib2
ganglia
pandas==0.14.1
tables==3.1.1
networkx==1.7
